.container {
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  .flex {
    display: flex;
  }
  .center {
    align-items: center;
  }
  .sb {
    justify-content: space-between;
  }
}
