main {
  margin-top: 10rem;
  .card {
    max-width: 520px;
  }
}

main {
  .summary {
    max-width: 600px;
    h1 {
      font-size: 2.6rem;
      font-weight: 500;
    }
  }
}

main {
  .companies {
    margin: 4rem 0;
  }
}

main {
  .projects {
    img {
      margin-bottom: 1rem;
      border-radius: 5px;
      width: 100%;
    }
    h1 {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}
