main {
  margin-top: 10rem;
  section:not(.summary, .companies) {
    padding: 4rem 0;
  }
  .card {
    max-width: 520px;
  }
}

main {
  .summary {
    max-width: 600px;
    h1 {
      font-size: 2.6rem;
      font-weight: 500;
    }
  }
}

main {
  .companies {
    margin-top: 4rem;
  }
}

main {
  .projects {
    img {
      margin-bottom: 1rem;
      border-radius: 5px;
      width: 100%;
    }
    h1 {
      font-weight: 500;
      font-size: 2rem;
    }
  }
}
main {
  .experience {
    position: relative;
    background: #31323a;
    p:not(p:last-child) {
      margin-bottom: 1rem;
    }
  }
  .experience::after,
  .experience::before {
    content: "";
    background: #31323a;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    overflow: hidden;
  }
  .experience::before {
    left: -100%;
  }
}
